*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px #f5f5f5a4;
}

#title{
    text-align: center;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    font-size: 5vmin;
    cursor: pointer;
}

#menu{
    width: 50%;
    margin-bottom: 20px;
}

#menu ul{
    display: flex;
    list-style: none;
}

#menu li{
    padding: 10px;
}

#menu li a{
    text-decoration: none;
    font-size: 3vmin;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
}

#menu li a:hover{
    background-color: #8888ff;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background:  #8888ff;
}

#search{
    width: 500px;
    height: 40px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 2vmin;
    outline: none;
}

#container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
    margin:20px;
    box-shadow: 1px 1px 10px #f5f5f5;
    border-radius: 20px;
}

.image img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#card{
    display: flex;
    justify-content: center;
}

.box-card{
    width: 25%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.card-image:hover{
    padding: 3px;
}

.box-card-txt{
    width: 40%;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #888888;
}

.box-card-txt h2, .box-card-txt p{
    color: #fff;
}

#box-article{
    width: 90%;
    height: auto;
    margin: 100px 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px #f5f5f5;
}

#box-article h2{
    margin-top: 30px;
}

.article{
    font-size: 3vmin;
    text-indent: 40px;
}






.footer-container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    text-align: justify;
    color: #000;
}

ul {
    list-style: none;
}

.footer {
    padding: 70px 0;
    background-color: #fff;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color: #000;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ddd;
    padding-left: 8px;
}

@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}